body {
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: rgb(250, 245, 245);
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  display: block;
  font-family: "Great Vibes", cursive;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: ;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navi {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 30px;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 30px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.text-foto {
  width: calc(100% - 30px) / 2;
}
